[submodule "quickrant-admin"]
	path = quickrant-admin
	url = git@github.com:mikechabot/quickrant-admin
[submodule "quickrant-api"]
	path = quickrant-api
	url = git@github.com:mikechabot/quickrant-api.git
[submodule "quickrant-web"]
	path = quickrant-web
	url = git@github.com:mikechabot/quickrant-web.git
